{% extends 'base.html' %}

{% block content %}
  <div class="alert alert-info display-1 text-center">Lista de Socios</div>
  {% if socio %}
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha de Incorporación</th>
        <th>Fecha de nacimiento</th>
        <th>Teléfono</th>
        <th>Correo Electrónico</th>
        <th>Sexo</th>
        <th>Estado</th>
        <th>Observacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for s in socio %}
      <tr>
        <td>{{ s.nombre }}</td>
        <td>{{ s.fecha_incorporacion }}</td>
        <td>{{ s.fecha_nacimiento }}</td>
        <td>{{ s.telefono }}</td>
        <td>{{ s.correo_electronico }}</td>
        <td>{{ s.sexo }}</td>
        <td>{{ s.estado }}</td>
        <td>{{ s.observacion }}</td>
        <td><a href="/editar/{{s.id}}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i> Editar</a></td>
        <td>
          <form action="/eliminar/{{s.id}}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este socio?');">
            {% csrf_token %}
            <input type="hidden" name="s_id" value="{{ s.id }}">
            <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Eliminar</button>
        </form>
        
        </td>
        <!-- <td><a href="/eliminar/{{s.id}}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estas seguro de que quieres eliminar este socio?')"><i class="bi bi-trash"></i> Eliminar</a></td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
    {% else %}
    <div class="alert alert-danger text-center">No hay socios registrados</div>
    {% endif %}
    <a href="/" class="btn btn-primary"><i class="bi bi-arrow-left-circle"></i> Inicio</a>
    <a href="/agregar" class="btn btn-success float-end"><i class="bi bi-plus-circle"></i> Agregar Socio</a>
{% endblock %}
